/* Fonts */
@font-face {
  font-family: "Outfit";
  src: url("../assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}

@font-face {
  font-family: "young-serif";
  src: url("../assets/fonts/young-serif/YoungSerif-Regular.ttf");
}
